.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.levelsIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--background-color);
    border-radius: 50%;
    padding: 10px;
    z-index: 3000;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--foreground-color);
    border-radius: 25px;
    margin: 40px 0;
    padding: 20px;
    gap: 20px;
}

.form h1 {
    text-align: center;
    text-wrap: wrap;
    width: 550px;
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.submitButton {
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.submitButton:hover {
    background-color: var(--primary-color-dark);
}

.submitButton:disabled {
    background-color: gray;
    cursor: not-allowed;
}

/* Estilos para juegos con opciones (trivia y find-the-impostor) */
.selected {
    background-color: var(--primary-color-dark) !important;
    outline: none !important;
    color: white !important;
}

.correct {
    outline: 3px solid green !important;
    background-color: #d4edda !important;
    color: black !important;
}

.incorrect {
    outline: 3px solid red;
    background-color: #f8d7da;
    color: black;
}