.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--foreground-color);
    border-radius: 20px;
    padding: 30px;
    width: 500px;
    max-width: 90%;
    gap: 30px;
    color: white;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titles h1 {
    margin: 0;
    font-size: 28px;
}

.titles p {
    margin: 0;
    font-size: 16px;
    color: #ccc;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inputGroup input {
    border: 1px solid #4a4a4a;
    background-color: #3b364c;
    color: white;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.inputGroup input:focus {
    outline: 2px solid var(--primary-color);
}

.passwordContainer {
    position: relative;
}

.eyeButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.errorMessage {
    color: red;
    font-size: 14px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button[type="submit"] {
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.buttons button[type="submit"]:hover {
    background-color: var(--primary-color-dark);
}

.buttons button[type="reset"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b364c;
    border: 1px solid #4a4a4a;
    border-radius: 8px;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.buttons button[type="reset"]:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.container a {
    text-decoration: 2px underline;
    text-underline-offset: 2px;
    font-weight: 500;
}