.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--foreground-color);
    border-radius: 25px;
    margin: 40px 0;
    padding: 20px;
    gap: 20px;
}

.form h1 {
    text-align: center;
    text-wrap: wrap;
    width: 550px;
    font-size: 24px;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.optionButton {
    position: relative;
    display: flex;
    align-items: flex-start;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer ;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.selected {
    background-color: var(--primary-color-dark) !important;
    outline: none !important;
    color: white !important;
}

.correct {
    outline: 3px solid green !important;
    background-color: #d4edda !important;
    color: black !important;
}

.incorrect {
    outline: 3px solid red;
    background-color: #f8d7da;
    color: black;
}

@media (hover:hover) {
    .optionButton:not(:disabled):hover {
        filter: brightness(0.8);
    }
}


.optionButton span {
    position: absolute;
    top: -10px;
    right: -5px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.buttons {
    display: flex;
    width: 100%;
    gap: 10px;
}

.buttons button[type="submit"] {
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buttons button[type="submit"]:hover {
    background-color: var(--primary-color-dark);
}

.buttons button[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
}

/* Success/Failure/HasPlayed Modal styles */
.modalContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.modalContent img {
    border-radius: 10px;
    object-fit: cover;
}

.modalText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modalContent h2 {
    font-size: 22px;
}

.modalSuccess {
    z-index: 2000;
    outline: 5px solid #28a745;
}

.modalFailure {
    z-index: 2000;
    outline: 5px solid #dc3545;
}

.successTitle {
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
}

.failureTitle {
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
}

.modalMessage {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
}


/* Modal Button Styles */
.modalContent button {
    /* Base styles */
    border: none;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: white;
    padding: 12px 24px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.2s, background-color 0.2s;
}

@media (hover:hover) {
    .modalContent button:hover {
        background-color: var(--primary-color-dark);
        transform: translateY(-2px);
    }
}

.modalSuccess button {
    background-color: #28a745 !important;
}

.modalSuccess button:hover {
    background-color: #218838 !important;
}

.modalFailure button {
    background-color: #dc3545 !important;
}

.modalFailure button:hover {
    background-color: #c82333 !important;
}