.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  color: white;
  padding: 14px 24px;
}

.nav h1 {
  font-size: 24px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* Mobile */
@media (max-width: 600px) {
  .nav li:nth-child(1) {
    display: none;
  }
}