.footer {
  position: relative;
  display: flex;
  background-color: var(--foreground-color);
  height: 340px;
  color: white;
  overflow: hidden;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  width: 100%;
}

.footer h4 {
  font-weight: 600;
  font-size: 18px;
}

.footer nav {
  display: flex;
  gap: 40px;
}

.footer nav ul {
  display: flex;
  flex-direction: column;
}

.footer nav h4 {
  margin-bottom: 4px;
}

.footer nav li {
  display: flex;
  align-items: center;
  height: 30px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bgTitle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  text-align: center;
  color: #6863AB;
  font-size: 220px;
  font-weight: 900;
  line-height: 45%;
  z-index: 0;
}

/* Mobile */
@media (max-width: 768px) {
  .footer {
    height: 320px;
  }

  .footer .container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 30px;
  }

  .footer nav {
    gap: 20px;
  }

  .bgTitle {
    font-size: 55px;
    text-wrap: nowrap;
  }
}