.levelsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.levelCard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: 4px solid var(--primary-color);
    border-radius: 15px;
    height: 80px;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.2s;    
}

.levelCard:not(:disabled):hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
}

.levelCard:disabled {
    background-color: var(--foreground-color);
    border-color: var(--foreground-color);
    color: var(--background-color);
    cursor: not-allowed;
}

.emptyContainer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyItem {
    background-color: var(--foreground-color);
    border: 4px solid var(--foreground-color);
    border-radius: 15px;
    height: 80px;
    width: 80px;
}

/* Mobile */
@media (max-width: 600px) {
    .levelsGrid {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }
}