.optionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.optionButton {
    position: relative;
    display: flex;
    align-items: flex-start;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

@media (hover:hover) {
    .optionButton:not(:disabled):hover {
        filter: brightness(0.8);
    }
}

.optionButton span {
    position: absolute;
    top: -10px;
    right: -5px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
