.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}

.banner {
    width: 100%;
    object-fit: cover;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, var(--background-color), rgba(0, 0, 0, 0));
}