:root {
  --primary-color: #3454d1;
  --primary-color-dark: #2a43a8;
  --foreground-color: #292656;
  --background-color: #100F24;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: var(--font-inter);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

main {
  display: flex;
  min-height: 94vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

ul {
  list-style: none;
}

a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  gap: 5px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
