.optionsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 550px;
    width: 100%;
    gap: 15px;
}

.optionButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
    min-height: 100px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.optionButton span {
    position: absolute;
    top: -10px;
    right: -5px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

@media (hover:hover) {
    .optionButton:not(:disabled):hover {
        filter: brightness(0.8);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .optionsContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .optionButton {
        font-size: 16px;
        height: 80px;
    }
}
