.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 92vh;
  padding-bottom: 20px;
}

/* Games Section */
.games {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 1050px;
  box-sizing: border-box;
  gap: 20px;
}

.gameList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.gameCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--foreground-color);
  border-radius: 15px;
  border: 5px solid var(--primary-color);
  padding: 10px;
  font-size: 15px;
}

.gameImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.comingSoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground-color);
  border-radius: 15px;
  border: 5px solid var(--primary-color);
  padding: 15px;
  font-size: 14px;
  color: var(--secondary-color);
}

@media (hover: hover) {
  .gameCard:hover {
    background-color: var(--foreground-color-hover);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }  
}