.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    width: 100%;
    color: white;
    gap: 20px;
}

.container img {
    border-radius: 10px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}