.optionsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 550px;
    width: 100%;
    gap: 15px;
}

.optionButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

@media (hover:hover) {
    .optionButton:not(:disabled):hover {
        filter: brightness(0.8);
    }
}

.modalFailure .button:hover {
    background-color: #c82333 !important;
}