.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    width: 100%;
    color: white;
    gap: 20px;
}

.container img {
    border-radius: 10px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.container a {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin-top: 14px;
    width: 90%;
    max-width: 240px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.container a:hover {
    background-color: var(--primary-color-dark);
}