.profilePage {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 92vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--foreground-color);
    border-radius: 20px;
    margin-top: 90px;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    gap: 30px;
}

.userData {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.avatar {
    border-radius: 50%;
}

/* Stats section */
.topGames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #474473;
    border-radius: 15px;
    padding: 20px;
    gap: 10px;
}

.topGames h2 {
    font-size: 20px;
}

.gamesList {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.gameItem {
    position: relative;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
}

.medal {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
}

.medal1 {
    background-color: #D4AF37;
    color: #735A0C;
}

.medal2 {
    background-color: #ffffff;
    color: #646464;
}

.medal3 {
    background-color: #CD7F32;
    color: #5A2F04;
}

.emptySlot {
    width: 220px;
    height: 134px;
    background-color: var(--foreground-color);
}